<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'dashboard/header.html' %}
<body>
{% include 'dashboard/sidebar.html' %}

<div class="page-heading">
    <h3>이미지 기반 딥러닝 패션 트랜드 분석 및 맞춤 이미지 제공 서비스</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">날짜</h6>
                                    <h6 class="font-extrabold mb-0">112.000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">상하의</h6>
                                    <h6 class="font-extrabold mb-0">183.000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">패션 카테고리</h6>
                                    <h6 class="font-extrabold mb-0">80.000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">오늘 뭐입지?</h6>
                                    <h6 class="font-extrabold mb-0">112</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>오늘의 패션트렌드</h4>
                        </div>
                        <div class="card-content">
                            <!-- 오늘의 이미지 -->
                            <div id="today_container"></div>
                            <div class="card-body">
                                <h5 class="card-title">Be Single Minded</h5>
                                <p class="card-text">
                                    Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes tiramisu.Gummies
                                    bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll.
                                </p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>작년 이맘 때</h4>
                        </div>
                        <div class="card-content">
                            <img src="/static/dashboard/assets/images/samples/motorcycle.jpg"
                                 class="card-img-top img-fluid"
                                 alt="singleminded">
                            <div class="card-body">
                                <h5 class="card-title">Be Single Minded</h5>
                                <p class="card-text">
                                    Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes tiramisu.Gummies
                                    bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll.
                                </p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4> 딥러닝 기반 시즌별 패션 키워드 트렌드 </h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-profile-visit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">John Duck</h5>
                            <h6 class="text-muted mb-0">@johnducky</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">인스타 게시물 URL</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">실시간 게시물 모아보기</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-responsive table-hover " id="list_table_json">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>LIKE</th>
                                <th>DATE</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include 'dashboard/footer.html' %}


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'display_table' %}",
            dataType: 'json',
            type: 'get',
            cache: false,
            success: function (data) {
                // console.log(data);
                var table_data = document.createElement("tbody");
                $.each(data, function (index, value) {
                    // console.log(value);
                    var tr = document.createElement("tr");
                    var insta_col = document.createElement("td")
                    insta_col.innerText = value.insta_id;
                    var likes_col = document.createElement("td")
                    likes_col.innerText = value.likes;
                    var date_col = document.createElement("td")
                    date_col.innerText = value.date;

                    tr.appendChild(insta_col);
                    tr.appendChild(likes_col);
                    tr.appendChild(date_col);

                    tr.addEventListener("click", function () {
                        window.open(value.post_url);
                    });
                    table_data.appendChild(tr);
                });
                // console.log(table_data);
                $("#list_table_json").append(table_data);
            },
            error: function (d) {
                // console.log("error");
                alert("404. Please wait until the File is Loaded.");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            $("#list_table_json").click(function () {
            window.open(linker);
        });
    });
    });


</script>

<script>
    function startLoadFile() {
        $.ajax({
            url: "{% url 'display_today' %}",
            type: 'GET',
            dataType: 'text',
            success: function (data) {
                console.log(data);
                var strDOM = "";
                strDOM += '<img src = "' + data + '" class="card-img-top img-fluid" alt="singleminded" >';
                // console.log(strDOM)
                var $imageContainer = $("#today_container");
                $imageContainer.append(strDOM);
            }
        });
    }

    startLoadFile();
</script>
</body>

</html>
